.logo{
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

div.container4 {
  position:relative;
}

.search{
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px 30px;
<<<<<<< HEAD
=======
   
>>>>>>> a90ada17244ffab821dc0e6b4cd9f61e6ac01e5d
}

.buttons{
    position: relative;
    display: block;
    margin: auto;
    padding: 20px 30px;
    align: center;
}


img {
  width:400px;
}
