.logo{
    width: 85%;
    display: block;
    margin: auto;
    padding: 20px 30px;
}
.search{
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px 30px;
   
}
.buttons{
    position: relative;
    display: block;
    margin: auto;
    padding: 20px 30px;
    align: center;
}


img {
  width:400px;
}
