.logo{
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

div.container4 {
  position:relative;
}

.search{
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px 30px;
}

.buttons{
    position: relative;
    display: block;
    margin: auto;
    padding: 20px 30px;
    align: center;
}


img {
  width:400px;
}
